.row {
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
}

    
.col-2 {
    border-right: 2px solid rgb(0 0 0 / 10%);
}
.card {
    border: none;
}
.card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card__title i {
    color: rgb(112, 112, 6);
}
.card__body {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    border-left: 4px solid #007bff;
}

.card__body i {
    color: rgb(211, 211, 8);
    font-size: 24px;
    margin-right: 10px;
}
.card__body span {
    font-size: 20px;
    font-weight: 500;
}
.card__input {
    padding: 20px;
}
.card__input input {
    border-radius: 8px;
    padding: 10px;
    border-color: rgb(0 0 0 / 10%);
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.btn {
    width: 20%;
    /* padding: 10px 30px; */
    border-radius: 30px;
    font-size: 20px;
}
.card__footer {
    background-color: rgb(189, 245, 245);
    margin-top: 20px;
    padding: 16px;
    border-radius: 4px;
}
.card__footer i {
    color: rgb(211, 211, 8);
    font-size: 20px;
}